 <header>
        <div class="container">
            <a href="/" class="logo"><span>F</span>avaloro</a>
            <nav class="nav">
                <ul>
                    <li><a href="https://www.who.int/es/health-topics/coronavirus#tab=tab_1">Situación mundial</a></li>
                    <li><a href="https://www.mardelplata.gob.ar/salud/coronavirus">Post Covid</a></li>
                    <li><a href='/hospital/ayuda'>Ayuda</a></li>
                </ul>
            </nav>
            <div class="fas fa-bars"></div>
        </div>
    </header>

    <section class="home">
        <div class="container">
            <div class="row min-vh-100 align-items-center text-center text-md-left">
                    <div class="col-md 8 pl-md-5 content">

                        <h1>¿Qué <span>servicios</span> ofrecemos?</h1>
                            
                            <ul>
                                <li>Pediatría</li>
                                <li>Clinica médica</li>
                                <li>Neumonología</li>
                                <li>Cardiología</li>
                                <li>Neurología</li>
                                <li>Psicologo/psiquiatra</li>
                            </ul>

                        <h1>¿Qué es el<span> COVID-19</span>?</h1>
                    
                            <p>El COVID-19 es una enfermedad causada por un virus llamado SARS-CoV-2. La mayoría de las personas con COVID-19 
                            tienen síntomas leves, pero algunas personas pueden enfermarse gravemente. Aunque la mayoría de las personas 
                            con COVID-19 mejora al cabo de unas semanas de haber estado enfermas, algunas personas experimentan afecciones 
                            posteriores al COVID-19. Las afecciones posteriores al COVID-19 son una amplia variedad de problemas de salud nuevos,
                            recurrentes o en curso que las personas pueden experimentar más de cuatro semanas después de haberse infectado por
                            primera vez por el virus que causa el COVID-19. Las personas mayores y las personas que tienen ciertas afecciones 
                            subyacentes tienen mayor riesgo de enfermarse gravemente a causa del COVID-19. Las vacunas contra el COVID-19 son seguras y efectivas.
                            </p>
                        
                        <h1>¿Cuáles son los<span> sintomas</span> y  las <span>complicaciones</span> que puede causar el COVID-19?</h1>
                    
                            <p>Las personas con COVID-19 han presentado una amplia variedad de síntomas, desde síntomas leves hasta enfermedad grave. 
                            Los síntomas pueden aparecer de 2 a 14 días después de la exposición al virus. Si tiene fiebre, tos u otros <a href="https://espanol.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">sintomas</a>, 
                            podría tener COVID-19. </p>
                
                            
                        <h1>¿Cómo<span> propaga</span> el virus?</h1>
                    
                            <p>El COVID-19 se propaga cuando una persona infectada exhala gotitas y partículas respiratorias muy pequeñas que contienen el virus. 
                                Estas gotitas y partículas respiratorias pueden ser inhaladas por otras personas o depositarse sobre sus ojos, nariz o boca. 
                                En algunas circunstancias, pueden contaminar las superficies que tocan. Quienes están a menos de 6 pies de distancia de una persona 
                                infectada tienen mayor probabilidad de infectarse.

                                Hay tres formas principales en las que se propaga el COVID-19:
                            </p>
                            <ul align="left">
                                <li>Al inhalar estando cerca de una persona infectada que exhala pequeñas gotitas y partículas respiratorias que contienen el virus.</li>
                                <li>Al hacer que estas pequeñas gotitas y partículas respiratorias que contienen el virus se depositen sobre los ojos, nariz o boca, 
                                    especialmente a través de salpicaduras y aspersiones como las generadas al toser o estornudar.</li>
                                <li>Al tocarse los ojos, la nariz o la boca con las manos contaminadas con el virus.</li>
                            </ul>
                        
                         <h1>¿Qué es la propagación en la<span> Comunidad</span>?</h1>
                    
                            <p>La propagación en la comunidad significa que las personas han sido infectadas por el virus en un área, incluidas algunas personas que 
                                no saben con certeza cómo ni dónde se infectaron. Cada departamento de salud determina la propagación en la comunidad de manera diferenciada
                                 con base en las condiciones locales.  </p>
                        
                        <h1>¿Cómo puedo<span> protegerme</span>?</h1>
                    
                            <ul align="left">
                                <li>Vacúnese</li>
                                <li>Use mascarilla</li>
                                <li>Mantenga una distancia de 2 metros de los demás</li>
                                <li>Evite las grandes aglomeraciones y los espacios mal ventilados</li>
                                <li>Lavarse las manos frecuentemente</li>
                                <li>Cubrase la nariz y la boca al toser y estornudar</li>
                                <li>Limpie y desinfecte</li>
                                <li>Esté atento a su salud cada día</li>
                            </ul>
                        
                        <h1>¿Qué debería hacer si alguien en mi<span> hogar</span> se enferma?</h1>
                    
                            <ul align="left"> 
                                <li>Elija una “habitación para enfermos”</li>
                                <li>Elija un “baño de enfermos”</li>
                                <li>Monitoree sus síntomas</li>
                                <li>Ayúdelos a mantenerse hidratados</li>
                                <li>Alivie sus síntomas</li>
                                <li>Ayúdelos con la comida, pero mantenga la distancia</li>
                                <li>Mantengan su ropa separada</li>
                                <li>Limpie, limpie, limpie</li>
                                <li>Diga no a las visitas</li>
                                <li>Quédese en casa</li>
                            </ul>

                        <h1>¿Cuál es el riesgo de que<span> mi hijo</span> contraiga COVID?</h1>
                    
                            <p>Los niños pueden ser infectados por el virus que causa el COVID-19 y pueden contraer la enfermedad. 
                                La mayoría de los niños con COVID-19 tienen síntomas leves o es posible que directamente no tengan ningún síntoma
                                 ("asintomático"). En comparación con los adultos, es menor la cantidad de niños que se infectó por el COVID-19. 
                                 Los bebés menores de 1 meses y los niños con ciertas afecciones subyacentes tienen mayor probabilidad de enfermarse
                                gravemente a causa del COVID-19. Algunos niños desarrollaron una extraña enfermedad grave que está asociada al COVID-19, 
                                llamada síndrome <a href="https://espanol.cdc.gov/mis/mis-c.html"> inflamatorio multisistémico (MIS-C). </a></p>

                         <h1>¿Puede una persona dar<span> negativo</span> en una prueba viral de detección del COVID y más adelante dar <span> positivo</span>?</h1>
                
                                <p>Sí, es posible. Puede obtener un resultado negativo en la prueba si la muestra fue tomada cuando estaba en la primera etapa
                                     de su infección y el resultado podría ser positivo más adelante. También es posible que haya estado expuesto al COVID-19 
                                     después de haberse realizado la prueba y se haya infectado. Incluso si le da negativo, debe tomar medidas para protegerse
                                      y proteger a los demás. Ver<a href="https://espanol.cdc.gov/coronavirus/2019-ncov/testing/diagnostic-testing.html"> Prueba de detección de infección actual </a>para obtener más información. </p>
                    
                </div>
              
              
            </div>
        </div>
    </section>