 <header>
        <div class="container">
            <a href="/" class="logo"><span>F</span>avaloro</a>
            <nav class="nav">
                <ul>
                    <li><a href='/hospital/pacientes'>Pacientes</a></li>
                    <li><a href='/hospital/turnos'>Turnos</a></li>
                    <li class="login"><a href='/hospital/perfild'>Doctor <img width="25px" src="/images/person-circle.svg"></a></li>
                </ul>
            </nav>
            <div class="fas fa-bars"></div>
        </div>
    </header>

    <section class="home">
        <div class="container">
            <div class="row min-vh-100 align-items-center text-center text-md-left">
                <div class="col-md-6 pr-md-5">
                    <img src="/images/home-img.svg">
                </div>
                <div class="col-md-6 pl-md-5 content">
                    <h1><span>Manténgase</span> seguro, <span>manténgase</span> saludable.</h1>
                    <h3>Cuidandote.</h3>
                </div>
            </div>
        </div>
    </section>
