 <header>
        <div class="container">
            <a href="/" class="logo"><span>F</span>avaloro</a>
            <nav class="nav">
                <ul>
                    <li><a href="https://www.who.int/es/health-topics/coronavirus#tab=tab_1">Situación mundial</a></li>
                    <li><a href="https://www.mardelplata.gob.ar/salud/coronavirus">Post Covid</a></li>
                    <li><a href='/hospital/reservart'>Turnos</a></li>
                    <li><a href='/hospital/ayuda'>Ayuda</a></li>
                    <li class="login"><a href='/hospital/perfilc'>Usuario <img width="25px" src="/images/person-circle.svg"></a></li>
                </ul>
            </nav>
            <div class="fas fa-bars"></div>
        </div>
    </header>

    <section class="home">
        <div class="container">
            <div class="row min-vh-100 align-items-center text-center text-md-left">
                <div class="col-md-6 pr-md-5">
                    <img src="/images/home-img.svg">
                </div>
                <div class="col-md-6 pl-md-5 content">
                    <h1><span>Manténgase</span> seguro, <span>manténgase</span> saludable.</h1>
                    <h3>Cuidandote.</h3>
                </div>
            </div>
        </div>
    </section>