<header>
        <div class="container">
            <a href="/" class="logo"><span>F</span>avaloro</a>
            <nav class="nav">
                <ul>
                    <li><a href="https://www.who.int/es/health-topics/coronavirus#tab=tab_1">Situación mundial</a></li>
                    <li><a href="https://www.mardelplata.gob.ar/salud/coronavirus">Post Covid</a></li>
                    <li><a href='/hospital/ayuda'>Ayuda</a></li>
                    <li><a class="login" href='/hospital/login'>iniciar sesión</a></li>
                </ul>
            </nav>
            <div class="fas fa-bars"></div>
        </div>
    </header>

    <section class="registro">
       <p class="nota">{{mensaje}}</p>
        <p><a href="/">volver al inicio</a></p>
    </section>