 <header>
        <div class="container">
            <a href="index_doctor.html" class="logo"><span>F</span>avaloro</a>
            <nav class="nav">
                <ul>
                    <li><a href='/hospital/pacientes'>Pacientes</a></li>
                    <li><a href='/hospital/turnos'>Turnos</a></li>
                    <li class="login"><a href='/hospital/perfild'>Doctor<img width="25px" src="/images/person-circle.svg"></a></li>
                </ul>
            </nav>
            <div class="fas fa-bars"></div>
        </div>
    </header>

    <section class="perfil">
        <div class="container">
            <div class="tabla">
                <h1>Perfil</h1>
                <h3>Nombre Completo</h3>
                <h3>DNI</h3>
                <h3>Número de teléfono</h3>
                <h3>Email</h3>
                <h3>Especialidades</h3>
                <p><a href="index.html">cerrar sesión</a></p>
            </div>
        </div>
    </section>