 <header>
        <div class="container">
            <a href="index_doctor.html" class="logo"><span>F</span>avaloro</a>
            <nav class="nav">
                <ul>
                    <li><a href='/hospital/pacientes'>Pacientes</a></li>
                    <li><a href='/hospital/turnos'>Turnos</a></li>
                    <li class="login"><a href='/hospital/perfild'>Doctor <img width="25px" src="/images/person-circle.svg"></a></li>
                </ul>
            </nav>
            <div class="fas fa-bars"></div>
        </div>
    </header>

    <section class="turnos">
        <div class="container">
            <h1>Turnos</h1>
            <div class="tabla">
                <table style="width:100%">
                    <tr>
                        <th>Fecha y Horario</th>
                        <th style="width:45%">Paciente</th>
                        <th>Especialidad</th>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>